@import "./home.css";
@import "./curso.css";
@import "./curso-app.css";
@import "./ferramentas.css";
@import "./biblioteca.css";
@import "./especialidades.css";
@import "./mensagens.css";
@import "./not-found.css";
